.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icons {
    font-size: 42px;
    color: #6FC340;
}

ion-toolbar {
    height: 65px; 
}

#mini-logo {
    height: 60px;
    width: auto;
    transform: translateY(-12px); // moving the logo up to fit in the toolbar
}

ion-card {
    border-radius: 15px;
    min-width: 300px; 
    max-width: 400px; 
    flex-shrink: 0; // prevents the cards from shrinking 
    border-radius: 15px;
}

ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cards-displays {
    overflow-y: auto;  // vertical scrolling
    padding: 10px 0; 
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1;
}

.content {
    display: flex;
    align-items: center;
    gap: 90px;
}

.heart-icon {
    font-size: 52px;
}

#image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden; 
}

#restaurant-image {
    height: 100%;
    width: 100%;
    object-fit: cover;   
    border-radius: 50%; 
}

.fav-card {
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}
  
.fav-card:hover {
    transform: scale(1.01);
}
  
.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
  
.fav-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
  
.fav-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.fav-info {
    flex: 1;
    margin-left: 16px;
}

.logout-button {
    background-color: #6FC340;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    font-size: large;
    font-weight: 800;
}

.remove-options-yes {
    width: 50%;
    height: 40px;
    color: #2E4B45;
}

.remove-options-no {
    width: 50%;
    height: 40px;
    color: #6FC340;
}

.remove-container {
    background-color: #6FC340;
    border-color: black;
}

.remove-container h4 {
    margin-left: 12%;
    font-size: large;
}
