<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear">
      <img src="assets/images/mini.png" id="mini-logo" (click)="logOut()">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="email-div">
    <h2>Username</h2>
    <ion-input
      class="input-boxes"
      type="email"
      fill="solid"
      labelPlacement="floating"
      errorText="Invalid email"
      email
      [(ngModel)]="email">
    </ion-input>
  </div>
  <div class="password-div">
    <h2>Password</h2>
    <ion-input
      class="input-boxes"
      type="password"
      fill="solid"
      labelPlacement="floating"
      password
      [(ngModel)]="password">
    </ion-input>
  </div>


  <div class="button-holder">
    <button (click)="validateUser()" class="log-in-button">Log In</button>
  </div>
</ion-content>
