.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icons {
    font-size: 42px;
    color: #6FC340;
}

ion-toolbar {
    height: 65px; 
}

#mini-logo {
    height: 60px;
    width: auto;
    transform: translateY(-12px); // moving the logo up to fit in the toolbar
}

ion-card {
    border-radius: 15px;
    min-width: 300px; 
    max-width: 350px; 
    flex-shrink: 0; // prevents the cards from shrinking 
    border-radius: 15px;
}

ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#popover-content {
    --padding-top: 0;
    --padding-bottom: 0;
}
  
#stars-img {
    height: 40px;
}

#option-button {
    font-size: 42px;
}

#content {
    display: flex;
    align-items: center;
    gap: 30px;
}

#restaurant-cards {
    display: flex;
    overflow-x: auto;  // horizontal scrolling
    white-space: nowrap; // preventing the cards from stacking
    padding: 10px 0; 
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1;
}

#cusisine-header {
    margin-left: 20px;
    font-weight: bold;
    padding: none;
    margin-bottom: none;
}

ion-card-title {
    white-space: normal;  // allows the text to wrap
    overflow-wrap: break-word; 
}

#menu-button {
    font-size: 50px;
    transform: translateY(-10px);
    color: white;
}

.menu-title {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
  
#menu{
    background-color: #2E4B45 ;
}