<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear">
      <img src="assets/images/mini.png" id="mini-logo" (click)="logOut()">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="restaurants-page" [fullscreen]="true">

  <div *ngFor="let cuisine of objectKeys(cuisines)">
    <h2 id="cusisine-header">{{cuisine}}</h2>
    <!-- container for horizontal scrolling -->
    <div id="restaurant-cards">
      <!-- looping though every restaurant of that quisine -->
      <ion-card *ngFor="let restaurant of cuisines[cuisine]">
        <ion-card-header>
          <ion-card-title>{{ restaurant.name }}</ion-card-title>
          <ion-card-subtitle>{{ restaurant.cuisine }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content id="content">
          <!-- calling the function to get  to correct image for the rating -->
          <img [src]="stars(restaurant.average_rating)" alt="Review" id="stars-img">      
          <ion-buttons>
            <ion-button (click)="goHome()">
              <ion-icon name="ellipsis-horizontal" id="option-button"></ion-icon>  
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <p *ngIf="position">Latitude: {{ position?.latitude }}, Longitude: {{ position?.longitude }}</p>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="navigation-buttons">
      <ion-button (click)="goHome()">
        <ion-icon name="home-outline" class="icons"></ion-icon> 
      </ion-button>
      <ion-button (click)="goHome()">
        <ion-icon name="heart-outline" class="icons"></ion-icon> 
      </ion-button><ion-button (click)="goHome()">
        <ion-icon name="map-outline" class="icons"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

