<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear" id="log-out-trigger">
      <img src="assets/images/mini.png" id="mini-logo">
    </ion-button>
    <!-- the pop up when the logout button is clicked  -->
    <ion-popover trigger="log-out-trigger" [dismissOnSelect]="true">
      <ng-template>
        <ion-content id="popover-content">
          <div>
            <button (click)="logOut()" class="logout-button">Log Out</button>
          </div>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="navigation-buttons">
      <ion-button (click)="goToHome()">
        <ion-icon name="home-outline" class="icons"></ion-icon> 
      </ion-button>
      <ion-button (click)="goToFavourites()">
        <ion-icon name="heart-outline" class="icons"></ion-icon> 
      </ion-button><ion-button (click)="goToMap()">
        <ion-icon name="map-outline" class="icons"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>